.description {
  font-size: 24px;
  color: var(--color-font-secondary);
  text-align: center;
  margin-top: -40px;
  margin-bottom: 60px;
}

.description b {
  color: #000;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 125px;
  margin-top: 25px;
}
