.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.slider {
  display: flex;
  overflow-x: auto;
  border-radius: 24px;
  padding-bottom: 12px;
  gap: 48px;
}

.slider::-webkit-scrollbar {
  scrollbar-width: thin;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.slider::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
}
