.container {
  padding: 32px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  height: 100%;
}

.title {
  font-size: 32px;
  color: #191919;
  margin-top: 20px;
  margin-bottom: 8px;
  width: 220px;
}

.description {
  font-size: 18px;
  color: var(--color-font-secondary);
  margin-top: 8px;
}

@media screen and (max-width: 900px) {
  .container {
    max-width: none;
  }
}
