.content {
  display: flex;
  gap: 70px;
  position: relative;
}

.info {
  max-width: 692px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-size: 64px;
  font-weight: 500;
}

.description {
  font-size: 24px;
  color: var(--color-font-secondary);
}

.description b {
  color: #000;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row p {
  color: #1a1a1a;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 600;
}

.images {
  display: flex;
  gap: 32px;
  max-width: 520px;
}

.imageContainer {
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.imageContainer img {
  max-height: 417px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.background {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  width: 100%;
  height: 417px;
  background-color: var(--color-secondary);
  opacity: 0.5;
}

.imageContainer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  bottom: 32px;
  text-align: center;
  font-size: 32px;
  color: var(--color-font-contrast);
  font-weight: 600;
  transition: all 0.2s ease;
}

.stripContainer {
    position: relative;
    padding: 80px 100px;
    padding-bottom: 34px;
    overflow: hidden;
    width: 110%;
    margin-left: -5%;
}

.strip {
  margin-top: 46px;
  color: var(--color-font-contrast);
  padding: 32px 77px 32px 150px;
  background-color: var(--color-primary);
  display: flex;
  gap: 120px;
  width: 114%;
  margin-left: -7%;
  border-radius: 20px;
  position: relative;
}

.strip img {
  width: 232px;
  height: 286px;
  object-fit: contain;
  position: absolute;
  transform: rotate(8deg) scale(1.2);
  bottom: -30px;
  left: 30px;
}

.stripTextContainer {
  width: 100%;
  display: flex;
  gap: 64px;
  justify-content: flex-end;
}

.stripText {
  max-width: 236px;
}

.stripHeading {
  font-size: 32px;
  font-weight: 600;
}

.stripDescription {
  margin-top: 8px;
  font-size: 18px;
}
