.btn {
  align-items: center;
  border-radius: 30px;
  border: none;
  display: flex;
  gap: 8px;
  padding: 10px 42px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-font-contrast);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-font-contrast);
}

.outlined {
  background-color: transparent;
  color: var(--color-font-contrast);
  border: 1px solid var(--color-font-contrast);
}

.outlined-contrast {
  background-color: transparent;
  color: var(--color-font);
  border: 1px solid var(--color-secondary);
}

.ghost {
  background-color: transparent;
  color: var(--color-secondary);
  border: none;
  padding: 12px;
}
