.container {
  position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.playBtn {
  background-color: transparent;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: calc(50% + 5px);
  transform: translate(-50%, -50%);
  padding-left: 13px;
  border: none;
  cursor: pointer;
  outline: none;
}

.playBtn img {
  transition: all 0.75s ease;
}

.container:hover .playBtn img {
  transform: rotate(240deg);
  margin-left: -15px;
  margin-top: -10px;
}
